
    <h3>Vorgenen:</h3>
      <ol class="outer">
        <li>
          <strong>Einloggen in die Raiffaisen App</strong><br>
          <a href="https://www.raiffeisen.com" target="_blank">Raiffaisen E-Banking</a>
        </li>
        <li>
          <strong>Rechnungverlauf Runterladen</strong>
          <ol class="inner">
            <li>
              <img src="./assets/images/bank/1_loadData.JPG" alt="Bild 1 Download Daten">
              <p>Öffne das gewünschte Konto und klicke auf das Download Symbol oben auf der Seite.</p>
            </li>
            <li>
              <img src="./assets/images/bank/2_loadData.JPG" alt="Bild 2 Download Daten">
              <ol>
                <li><span>1 </span><span>Datei als Excel-CSV runterladen</span></li>
                <li><span>2 </span><span>Vordefinierter Kontoauszug-Zeitraum</span><span>auswählen</span></li>
                <li><span>3 </span><span>Jahr oder Monat auswählen</span></li>
                <li><span>4 </span><span>Mit Details auswählen</span></li>
                <li><span>5 </span><span>Datei speichern und gegebenen falls umbenennen</span></li>
              </ol>
            </li>
          </ol>
        </li>
        <li>
            <button class="download btn">Daten laden</button>
        </li>
      </ol>

