


/************************************************************************/
/* Autor: Schmid Lothar
/* Datum: 15.10.2018
/* Sass Variablen deklariation
/*************************************************************************/
$blue-100: #eef7ff;
$blue-200:#d4e3f0;
$blue-300:#c5e4ff;
$blue-400:#8bc9ff;
$blue-500:#51aeff;
$blue-600:#1692ff;
$blue-700:#007;
$blue-800:#0069c5;
$blue-900:#005eaf;
$blue-910:#00529a;
$blue-920:#004684;
$blue-930:#003a6e;

// stylelint-disable
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;


$defaultColor: $white;

$titleColor: $white;

$main-bg: $gray-200;
$main-color: $gray-800;

$side-bg: $blue-930;
$side-bg: $white;



