@import '../../../../../styles/index';

.card {
    border: solid 1px $blue-400;    
    margin: 2rem;
    width: 300px;  
    background-color: $white;
    .title {
        padding: 0;
        margin: 0;
        text-align: center;
        padding: .4rem 0;        
        color: $titleColor;
        background-color: $blue-500;
        font-size: 2rem;
    }
    .body {
        display: flex;
        flex-direction: column;        
        align-items: center;
        img {
            width: 60%;
            height: auto;
        }
        p {
            font-size: 1.2rem;
        }
        a {
            display: inline-block;            
            font-size: 1.5rem;
            background-color: $blue-500;
            color: $white;
            margin: 1rem;
            padding: .5rem 1rem .5rem 1rem;
            border-radius: 0.5rem;
            cursor: pointer;
            &:hover {
                background-color: lighten($blue-500, 5);
            }
        }
    }
    

}