@import "../../../../styles/index";

:host {
    display: flex;
    flex-direction: column;
    a {
        background-color: $blue-400;
        margin: .5rem;
        padding: 1rem;
        text-align: center;
        cursor: pointer;
        color: $blue-930;
        font-size: 1.5rem;
        font-weight: bolder;
        text-decoration: none;
        &:hover {
           background-color: $blue-200;  
        }
        &.active-link {
            background-color: $blue-200;
        }
        &:first-child {
            margin-top: 0;
        }

    }
    
}